<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../../static/css/admin-home.css" rel="stylesheet" th:href="@{~/css/admin-home.css}">
  <link href="../../static/css/tailwind.min.css" rel="stylesheet" th:href="@{~/css/tailwind.min.css}">
  <title>就业信息表</title>
</head>
<body id="main-content">
<script src="../../static/js/admin.main.js" th:src="@{~/js/admin.main.js}"></script>
<script th:inline="javascript">
  let data;
  data = [[${employmentInfos}]];
  Table("main-content");
</script>
</body>
</html>